# Ruby

.bundle
.cache
.DS_Store
.sass-cache
.vendor

# Webpack

node_modules
.tmp

# Middleman

.hosts
build/

# Imported from WordPress

base/localizable/*
!base/localizable/.keep
data/news.yml
data/organizations.yml
data/social_networks.yml
