<% if l.code.to_sym == ::I18n.default_locale %>
  <% url = "/" %>
<% else %>
  <% url = "/#{l.code}" %>
<% end %>
<a href="<%= url %>" class="px-4 py-2 bg-gray-100 hover:bg-secondary hover:underline hover:text-white" lang="<%= l.code %>" hreflang="<%= l.code %>" rel="alternate"><%= l.name %></a>
