<% content_for :hero do %>
  <section class="px-4 text-3xl text-white md:px-0" role="hero">
    <div class="container flex flex-col max-w-4xl py-12 md:flex-row">
      <p>
        <%= t('home.hero.text') %>
      </p>
      <div class="flex items-center justify-center pt-4 md:pt-0">
        <a href="#proca_dialog" data-turbolinks="false" class="px-4 py-2 font-bold text-white no-underline whitespace-no-wrap border-2 border-white rounded shadow-md bg-primary hover:border-primary"><%= t('home.hero.action') %></a>
      </div>
    </div>
  </section>
<% end %>
<% wrap_layout :base do %>
  <div class="container max-w-4xl md:flex ">
    <article class="px-4 pb-8 leading-relaxed prose-lg text-gray-800 md:px-0 md:pb-0">
      <%= yield %>
    </article>
    <aside class="flex flex-col items-end md:pl-5">
      <div class="flex flex-col items-center w-full p-4 md:w-64 md:rounded bg-tertiary">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="RKMCT2GMB7ZL2" />
          <input type="image" src="https://www.paypalobjects.com/en_US/IT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_IT/i/scr/pixel.gif" width="1" height="1" />
        </form>
      </div>
    </aside>
  </div>
<% end %>
