<% wrap_layout :base do %>
  <div class="container max-w-4xl px-4 pb-8 md:px-0 md:pb-0">
    <% unless data.languages[::I18n.locale]['translated'] %>
      <aside class="max-w-4xl px-4 py-3 mb-6 text-yellow-900 bg-yellow-100 border-t-4 border-yellow-400 rounded-b shadow-md" role="alert">
        <p class="my-0 font-bold"><%= t('messages.missing_translations.first') %></p>
        <p class="my-0"><a href="https://localazy.com/p/freedom-to-share"><%= t('messages.missing_translations.second') %></a></p>
      </aside>
    <% end %>
    <article class="leading-relaxed prose-lg text-gray-800">
      <%= yield %>
    </article>
  </div>
<% end %>
