---
title: pages.privacy
---
<% content_for :head do %>
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Privacy policy - Freedom to Share" />
<meta property="og:description" content="Version of 22-10-2020 Controller The controller for the processing of your data is the Association “Group of Organisers of Pirate Initiatives in Europe” (hereinafter referred to as “we”). If you have any question you can write us at our address&hellip; Continue reading &ldquo;Privacy policy&rdquo;&hellip;" />
<meta property="og:url" content="https://cms.freesharing.eu/privacy-policy/" />
<meta property="og:site_name" content="Freedom to Share" />
<meta property="article:publisher" content="https://www.facebook.com/freesharing.eu/" />
<meta property="article:modified_time" content="2020-11-06T22:55:40+00:00" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:label1" content="Written by">
<meta name="twitter:data1" content="Freedom to Share">
<meta name="twitter:label2" content="Est. reading time">
<meta name="twitter:data2" content="4 minutes">
<% end %>

<p>Version of 22-10-2020</p>



<h2>Controller</h2>



<p>The controller for the processing of your data is the Association “<strong>Group of Organisers of Pirate Initiatives in Europe</strong>” (hereinafter referred to as “<strong>we</strong>”).</p>



<p>If you have any question you can write us at our address Via San Quintino n. 32, Torino, Italy or to the email info@freesharing.eu<strong>.</strong></p>



<p>We hereby inform you that we will process your data lawfully and fairly in full respect of your rights and, in particular, your privacy, according to Regulation (EU) 2016/679 (hereinafter “<strong>Regulation</strong>”) and other applicable laws and regulations.</p>



<h2>Data protection officer</h2>



<p>If you have any question you can write to the data protection officer at the address Via San Quintino n. 32, Torino, Italy or to the email <strong>dpo</strong>@freesharing.eu<strong>.</strong></p>



<h2>Data</h2>



<p>We will process the following data:</p>



<p><strong>Browsing</strong><strong> data</strong> &#8211; When you connect to our system, this will automatically record information that your device sends us. This information may relate to the steps taken, the IP address from which you are connecting, the operating system and the language of your device, date and time of your connection, your position.</p>



<p><strong>Contact </strong><strong>information</strong><strong> and communications</strong> &#8211; When you send us your contact details (email, etc.) and an email or other communication, we will record your contact details and communication.</p>



<p><strong>Cookies</strong> &#8211; When you use our services, we can send to your device one or more cookies (small text files containing a string of alphanumeric characters):</p>



<ul><li><span style="text-decoration: underline;">technical cookies</span>, that is navigation or session cookies, strictly necessary for the operation of the site or to allow you to enjoy that content and the services that you requested,</li><li><span style="text-decoration: underline;">functionality cookies</span>, that is cookies used to activate specific functionalities of the site and a number of selected criteria (for example, the language or your preferences on the use of cookies) in order to improve the service<strong>.</strong></li></ul>



<h2>Purposes and legal basis for the processing</h2>



<p>Your personal data will be processed<strong> </strong>with the following purposes:</p>



<ul><li>to provide you with our services according to point (b) of Article 6(1) of the Regulation,</li><li>to evaluate and improve our services and develop new ones, pursuing this legitimate interest according to point (f) of Article 6(1) of the Regulation,</li><li>to protect the technical functioning of our system, pursuing this legitimate interest according to point (f) of Article 6(1) of the Regulation,</li><li>to fulfill legal obligations and/or comply with orders from public authorities, including the judicial authorities, according to point (c) of Article 6(1) of the Regulation,</li><li>to process and diffuse statistics and graphic representations but only in aggregate and anonymous form, pursuing this legitimate interest according to point (f) of Article 6(1) of the Regulation.</li></ul>



<p>We will also process your personal data to inform you about our services and news on our site, pursuing this legitimate interest according to point (f) of Article 6(1) of the Regulation.</p>



<p>If you have given us your consent, we may also send you emails to update you about our campaign according to point (a) of Article 6(1) of the Regulation.</p>



<h2>Communication to third parties</h2>



<p>We may communicate your data:</p>



<ul><li>to third parties who work with us and deal with phases of the processes necessary for the proper performance of our activities,</li><li>to third parties to comply with legal obligations, to comply with orders from public authorities, including the judicial authorities, and / or to protect ours rights or third parties under law.</li></ul>



<h2>Transfer personal data outside the EU</h2>



<p>We don’t plan to transfer your data outside the EU. In case it will happen, we will provide you due information.</p>



<h2>Period of storing</h2>



<p>Your contact details and communications will be stored for the time necessary to meet your request and for any additional time necessary to use the data to protect your and/or our rights, and / or rights of third parties.</p>



<p>Your browsing data will be stored for up to 6 months.</p>



<h2>Rights</h2>



<p>We remind you that, according to the Regulation, you are entitled:</p>



<ul><li>to obtain access to your personal data according to Article 15 of the Regulation,</li><li>to obtain the correction of your personal data according to Article 16 of the Regulation,</li><li>to obtain the erasure of your personal data according to Article 17 of the Regulation,</li><li>to obtain restriction of processing of your personal data according to Article 18 of the Regulation,</li><li>to object to processing of your personal data based on point (f) of Article 6(1) of the Regulation according to Article 21 of the Regulation,</li><li>the portability of your personal data according to Article 20 of the Regulation,</li><li>to withdraw consent to the processing of your personal data at any time (without prejudice to the lawfulness of the processing based on consent given before the withdrawal) pursuant to point (c) of Article 13(2) of the Regulation,</li><li>to lodge a complaint with the Italian Privacy Authority according to Article 77 of the Regulation.</li></ul>



<h2>Effects of failure to provide data to the controller</h2>



<p>Communication of browsingdata and/or contact information and communications is not mandatory, but if you do not provide them you will not be able to browse the site, and/or contact us.</p>



<h2>About cookies</h2>



<p>You can control and / or delete the cookies as you like &#8211; to learn more, please visit the website <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a>.</p>



<p>You can select which cookies to enable through the appropriate procedure provided below, as well as delete cookies already on your device and set most browsers to block its installation.</p>



<p>Most browsers allow you to:</p>



<ul><li>view the cookies and delete them individually,</li><li>block third-party cookies,</li><li>block cookies for particular sites,</li><li>block the installation of all cookies,</li><li>delete all cookies when you close your browser.</li></ul>



<p>For more information on how to set preferences on the use of cookies through your web browser, you can look at the relevant instructions:</p>



<ul><li><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a></li><li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Firefox</a></li><li><a href="https://support.google.com/chrome/answer/95647?hl=en&amp;topic=14666&amp;ctx=topic">Chrome</a></li><li><a href="http://www.opera.com/help/tutorials/security/cookies/">Opera</a></li><li><a href="https://support.apple.com/kb/PH17191?locale=en_US&amp;viewlocale=en_US">Safari</a>.</li></ul>



<p>If you choose to remove or not to enable:</p>



<ul><li>technical cookies, you may not be able to use the site, to view the contents and make use of its services,</li><li>the other cookie (functionality cookies), certain services or certain features of the site may not be available or not work properly and you could be forced to change or manually enter some information or preferences each time you visit the site.</li></ul>
