---
title: messages.get_involved
---

<h2>Take action now!</h2>

<p>Spread this inititative with your friends and contacts (write them, spread the communication materials, talk to them, etc.</p>

<p>Get in touch with us and contribute to the organization and spreading of the campaign in your country coordinating with other campaigners.</p>

<p>Help to translate: <a href="https://l10n.rio.hn/projects/freedom-to-share/web/">Weblate</a></p>

<p>Support the campaign making a donation:</p>

<a href="https://opencollective.com/freedom-to-share/donate" target="_blank">
    <img src="https://opencollective.com/freedom-to-share/donate/button.png?color=white" width=300 />
</a>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="RKMCT2GMB7ZL2" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_IT/i/scr/pixel.gif" width="1" height="1" />
</form>