@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "~fontsource-open-sans/latin-400.css";
@import "~fontsource-open-sans/latin-700.css";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

.turbolinks-progress-bar {
    height: 3px;
    @apply bg-primary;
}

@layer components {
    header {
        nav [role=menu] a {
            &:hover {
                @apply text-white underline;
            }

            &:first-of-type {
                @apply px-2 -ml-2;
            }

            &+ a {
                @apply px-2;
            }
        }

        [role=hero] {
            background-image: url('/images/hero-20201025.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: scroll;
            background-auto: auto;
            background-clip: border-box;

            p {
                text-shadow: 1px 1px 10px #000000;
            }
        }
    }

    main article {
        a {
            @apply underline text-tertiary;

            &:hover {
                @apply text-white bg-secondary;
            }
        }
    }
}
