---

title: pages.home
---

<p>Met dit initiatief wordt gevraagd om een wetgevingshandeling die voorziet in de vrijstelling van auteursrecht, naburige rechten en databankrecht voor natuurlijke personen die bestanden via digitale netwerken delen voor persoonlijke en niet-commerciële doeleinden.</p>

<p>Het delen van bestanden begon in 1999 en sindsdien is distributed file sharing (of peer-to-peer) steeds efficiënter geworden (Gnutella, Freenet, BitTorrent, enz.).</p>

<p>Van in het begin hebben de belangrijkste rechtenhoudende bedrijven zich verzet tegen het gebruik van sharingtechnologie voor werken en andere materialen die vallen onder het auteursrecht, naburige rechten en databankrechten. De wetgeving is op dit moment grotendeels afgestemd op hun belangen.</p>

<p>Maar de vraag blijft of het wel rechtvaardig is dat auteursrechten, naburige rechten en databankrechten het delen van werken en andere materialen verhinderen.</p>

<p>Deze rechten zouden de verspreiding van cultuur, innovatie en sociale vooruitgang juist moeten begunstigen.</p>

<p>De heersende wetgeving, die het delen van bestanden die onder deze rechten vallen verhindert, zorgt voor een ingrijpende beperking van het recht om deel te hebben aan wetenschap en cultuur, dat is vastgelegd in art. 27, 1e alinea, van de Universele Verklaring van de rechten van de mens.</p>

<p>Deze kwestie is nu nog belangrijker geworden na de goedkeuring van Richtlijn (EU) 2019/790 van het Europees Parlement en de Raad van 17 april 2019 inzake auteursrechten en naburige rechten in de digitale eengemaakte markt.</p>

<p>Die richtlijn heeft paradoxale gevolgen: enerzijds maakt art. 17 het gemakkelijker voor aanbieders van onlinediensten voor het delen van content om toestemming te krijgen voor het delen van wettelijk beschermde content, waardoor hun rol als geprivilegieerde tussenschakel en hun praktijken van technische controle en profilering van burgers worden bevorderd, maar anderzijds blijft het delen van bestanden verboden.</p>

<p>Het initiatief heeft ten doel burgers in staat te stellen bestanden rechtstreeks via peer-to-peer-netwerken te delen, zodat zij toegang hebben tot wetenschap en cultuur zonder te worden onderworpen aan controles en profilering. Een EU-besluit in die zin zou volkomen compatibel zijn met het internationaal recht als de rechtenhouders een billijke vergoeding krijgen.</p>

<p>De mens en zijn grondrechten moeten centraal staan in de politiek en de wetgeving, en daarom moeten de regels voor het delen van bestanden die werken en andere materialen bevatten die vallen onder het auteursrecht, naburige rechten en databankrechten, veranderen. Dan kunnen digitale netwerken hun potentieel waarmaken om de vrijheid en de sociale, culturele en economische ontwikkeling te bevorderen.</p>

