---

title: pages.home
---
<p>Tato iniciativa vyzývá k přijetí legislativního aktu, kterým se stanoví vzdání se autorských práv, práv s nimi souvisejících a zvláštních práv na ochranu databází pro fyzické osoby sdílející soubory prostřednictvím digitálních sítí pro osobní potřebu a pro neziskové účely.</p>
<p>Začátek sdílení souborů se datuje do roku 1999, kdy vznikla služby Napster. Během let se technologie sdílení (nebo „peer-to-peer“) postupně zdokonalily (Gnutella, Freenet, BitTorrent apod.).</p>
<p>Hlavní vlastníci autorských práv od samého počátku protestovali proti používání těchto technologií pro sdílení děl a dalších materiálů chráněných autorským právem, právy s ním souvisejícími a zvláštním právem na ochranu databází a stávající právní předpisy jejich námitkám většinou vyhověly.</p>
<p>Zůstává však otázka: Je spravedlivé, aby autorské právo, práva s ním související a zvláštní právo na ochranu databází bránily sdílení děl a dalších materiálů?</p>
<p>Autorské právo, práva s ním související a zvláštní právo na ochranu databází by měly podporovat šíření kultury, inovací a pokrok společnosti.</p>
<p>Stávající právní předpisy, které zakazují sdílení souborů, včetně děl a dalších materiálů chráněných autorským právem, právy s ním souvisejícími a zvláštním právem na ochranu databází, závažným způsobem omezují svobodu šíření vědy a kultury zakotvenou v čl. 27 odst. 1 Všeobecné deklarace lidských práv.</p>
<p>Tato problematika je o to palčivější poté, co byla přijata směrnice Evropského parlamentu a Rady (EU) 2019/790 ze dne 17. dubna 2019 o autorském právu a právech s ním souvisejících na jednotném digitálním trhu.</p>
<p>Směrnice má absurdní účinek: článek 17 poskytovatelům služeb pro sdílení obsahu online usnadňuje, aby získali svolení k šíření chráněného obsahu, a tudíž podporuje jejich postavení zvýhodněných zprostředkovatelů a jejich činnost v oblasti technické kontroly a profilování občanů; sdílení souborů však naproti tomu povoleno není.</p>
<p>Tato iniciativa požaduje, aby byli občané oprávněni sdílet soubory přímo prostřednictvím sítí peer-to-peer tak, aby měli přístup k vědě a kultuře, aniž by byli podrobeni kontrolám a profilování: právní předpis EU, který by to umožnil, by byl plně v souladu s mezinárodním právem, pokud by držitelé práv dostávali spravedlivou odměnu.</p>
<p>Při přijímání politických a legislativních rozhodnutí se musí zohlednit zájmy občanů a jejich základní práva, a proto je nutné změnit pravidla, která upravují sdílení souborů, jež obsahují díla a další materiály chráněné autorským právem, právy s ním souvisejícími a zvláštním právem na ochranu databází, aby se uvolnil potenciál svobody a sociálního, kulturního a ekonomického rozvoje, který digitální sítě nabízejí.</p>