<h2><%= t("regions.#{region}") %></h2>
<div class="grid grid-cols-3 gap-8 place-items-center">
  <% data.organizations.map { |s| YAML.load(s) }.select { |v| v['region'] == region }.each do |o| %>
    <a href="<%= o['url'] %>" class="hover:bg-transparent">
      <img src="<%= o['logo'] %>" title="<%= o['name'] %>">
    </a>
  <% end %>
</div>